body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(77, 77, 77);
  color: whitesmoke;
  margin: auto;
}

header {
  display: flex;
  background-color: black;
  font-style: italic;
  padding: 10px;
}

h1 {
  font-size: 5em;
  margin: 0;
  margin-right: auto;
}

#tmdb-attrib {
  display: flex;
  margin-top: auto;
  height: 1rem;
}

main {
  margin: 5px;
}

button, input {
  background-color: black;
  color: white;
  border-radius: 5px;
}

#page-counter {
  margin: auto;
}

#results {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 15rem;
  height: 12rem;
  background-color: black;
  color:rgb(237, 237, 237);
  margin: 5px 0;
}

.card-detail {
  height: 70%;
  display: flex;
  background-color: rgb(77, 77, 77);
  margin: 0 5px;
}

.title {
  margin: auto;
}

.dot-row {
  display: flex;
  height: 15%;
  justify-content: space-around;
  align-items: center;

}

.dot {
  background-color: rgb(77, 77, 77);
  height: 60%;
  width: 6%;
  border-radius: 2px;
}

@media only screen and (max-width: 768px) {
  header, #tmdb-attrib, #results, .dot-row {
    flex-direction: column;
  }

  header, #tmdb-attrib {
    align-items: center;
  }

  h1 {
    font-size: 4em;
    margin: auto;
  }

  #results {
    align-items: center;
  }

  .card {
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
  }

  .card-detail {
    height: 90%;
    width: 70%;
  }

  .dot-row {
    height: 100%;
    width: 15%;
  }

  .dot {
    height: 8%;
    width: 50%;
    border-radius: 3px;
  }
}